/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Montserrat Extra Light";
  src: url('./assets/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

body {
  font-family: "Montserrat Extra Light", Arial, sans-serif;
}

h1, h2, h3, h4, h5, a, p, ol, ul, li {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 20px 36px 20px;
}

.header_logo {
  width: 220px;
}

.contacts_text {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 18px;
  text-align: right;
}

.main {
  margin: 0 40px 50px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.article_title_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 14px;
}

.article_icon {
  width: 36px;
  height: 36px;
}

.article_title {
  font-family: "Montserrat Extra Light", Arial, sans-serif;
  font-size: 24px;
  margin-top: 4px;
}

.article_list {
  padding: 0;
  list-style-type: none;
}

.article_text {
  font-size: 21px;
  line-height: 1.6;
  margin-bottom: 10px;
}