@font-face {
    src:
        url('TTFirsNeue-Light.ttf') format('truetype'),
        url('TTFirsNeue-Light.woff2') format('woff2');
    font-family: 'TT Firs Neue';
    font-weight: 300;
    font-style: normal;
}

@font-face {
    src:
        url('TTFirsNeue-Regular.ttf') format('truetype'),
        url('TTFirsNeue-Regular.woff2') format('woff2');
    font-family: 'TT Firs Neue';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src:
        url('TTFirsNeue-ExtraLight.ttf') format('truetype'),
        url('TTFirsNeue-ExtraLight.woff2') format('woff2');
    font-family: 'TT Firs Neue';
    font-weight: 200;
    font-style: normal;
}

@font-face {
    src:
        url('TTFirsNeue-Bold.ttf') format('truetype'),
        url('TTFirsNeue-Bold.woff2') format('woff2');
    font-family: 'TT Firs Neue';
    font-weight: bold;
    font-style: normal;
}

@font-face {
    src:
        url('TTFirsNeue-Medium.ttf') format('truetype'),
        url('TTFirsNeue-Medium.woff2') format('woff2');
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-style: normal;
}

